
config LL_IRQFWD_SDH
	bool "Enable IRQ forwarding for SDH"
	default y

config LL_IRQFWD_UART2
	bool "Enable IRQ forwarding for UART2"
	default y

config LL_IRQFWD_USB
	bool "Enable IRQ forwarding for USB"
	default n


